.video {
    width:50%;
    padding: 0.2em;
}
.video.grid {
    width: 50%;
}

.video.list {
    width: 100%;
   
}
.card_video{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right:10px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px 0px rgba(191,191,191,0.53);
    cursor:pointer;
    transition:transform 250ms ease-in;
}
.card_video:hover {
    transform: scale(1.02);
}

.card_thumbnail{
    width:40%;
}
.card_title,
.card_channel {
    font-size:1.2rem;
    margin:0;
}
.card_textfield{
    margin-left:50px;
}

.card_channel {
    font-size: 0.9rem;
}
