.logo{
    display:flex;
    padding:0.2rem;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.text{
    font-size:2.5rem;
    color:aliceblue;
}
.input{
    margin:0 5em 0 5em;
    flex-basis: 100%;
    
}
.form{
    background-color:black;
    display:flex;
    flex-direction:row;
    height:4rem;
    padding: 0.5rem 1rem
}

